# Environnement / secrets
.env
# Dépendances
/vendor/
/node_modules/
# IDE / éditeurs
.idea/
.vscode/
# OS
.DS_Store
# Fichiers locaux non projet
Note.txt
tree.txt
# Config locale (si spécifique machine)
config/database.php